[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-smorest = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
passlib = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
